<div class="container d-flex justify-content-center">
    <form class="example-form mt-5" [formGroup]="userForm" >
        <h3>Create New Password</h3>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" name="password" type="password"
                autocomplete="new-password" #passwordRef />
            <button matSuffix mat-button class="btn btn-text" type="button" (click)="
            passwordRef.type === 'text'
              ? (passwordRef.type = 'password')
              : (passwordRef.type = 'text')
          ">
                <mat-icon matSuffix *ngIf="passwordRef.type === 'password'">visibility</mat-icon>
                <mat-icon matSuffix *ngIf="passwordRef.type === 'text'">visibility_off</mat-icon>
            </button>
            <mat-error *ngIf="userForm.get('password').hasError('pattern')">
                Password must have 1 digit, 1 capital, 1 small and 1 special character
            </mat-error>
            <mat-error *ngIf="userForm.get('password').hasError('required')">Password is required</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm password" formControlName="cpassword" name="cpassword" type="cpassword"
                autocomplete="new-password" #cpasswordRef />
                <button matSuffix mat-button class="btn btn-text" type="button" (click)="
            cpasswordRef.type === 'text'
              ? (cpasswordRef.type = 'password')
              : (cpasswordRef.type = 'text')
          ">
                <mat-icon matSuffix *ngIf="cpasswordRef.type === 'password'">visibility</mat-icon>
                <mat-icon matSuffix *ngIf="cpasswordRef.type === 'text'">visibility_off</mat-icon>
            </button>
                <mat-error *ngIf="userForm.get('cpassword').hasError('required')">Confirm Password is required</mat-error>
            <mat-error *ngIf="userForm.get('cpassword').hasError('MustMatch')">Password and Confirm password should match</mat-error>
        </mat-form-field>
        <button type="submit" mat-button class="btn btn-primary mt-2" (click)="updatePassword()">
            Confirm
        </button>
    </form>

</div>