<div class="container d-flex justify-content-center">
    <form class="example-form ">
        <h3>Reset Password</h3>
        <mat-form-field class="example-full-width mt-3" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. abc@gmail.com" [(ngModel)]="email" id="email" name="email" type="email"
                autocomplete="new-password" />
            <mat-error *ngIf="">Email is required</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width mt-3" appearance="outline" >
            <mat-label>Enter OTP</mat-label>
            <input matInput  [(ngModel)]="receviedOTP" id="receviedOTP" name="receviedOTP" type="receviedOTP"
                autocomplete="new-password" [disabled]="!otpSent"/>
            <mat-error *ngIf="">Email is required</mat-error>
        </mat-form-field>
        <button (click)="formSubmit()" mat-button class="btn btn-primary mt-2" [disabled]="!email" *ngIf="!otpSent">
            Send OTP
        </button>
        <button  (click)="verifyOTP()" mat-button class="btn btn-primary mt-2" [disabled]="!receviedOTP" *ngIf="otpSent"> 
            Verify 
        </button>
    </form>
    
</div>
